/**
 @file : css responsible for blog teasers
 * 
 **/

.blogs-teaser {
  &-list {
    margin: 0 20px;
  }
  .slick-track {
    display: flex !important;
  }
  .slick-slide {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 12px;
    line-height: 1.643;
    @extend %font-os-sb;
    padding: 10px 0;
    border-bottom: 1px solid $milky-white;
    a {
      color: $acqua-blue;
      display: block;
      white-space: nowrap;
      width: 80%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @include breakpoint($up-sm) {
      font-size: 14px;
    }
  }

  &__description {
    margin: 0;
    padding: 15px 0;
    border-bottom: 1px solid $milky-white;
    flex-grow: 1;

    @include breakpoint($up-sm) {
      padding: 20px 0;
    }
  }

  &__date {
    padding: 10px 0;    
  }

  &--page {
    .view__content {
      display: flex;
      flex-direction: column;

      @include breakpoint($up-sm) {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
    .blogs-teaser-list {
      background: $white;
      border-radius: 2px;
      margin: 15px 0;
      @include breakpoint($up-sm) {
        flex-basis: calc(33.3333% - 20px);
        padding: 0 20px ;
        border: 1px solid $light-grey;
        border-radius: 5px;
      }
      .views-field-title {
        padding: 20px 0 10px 0;
        border-bottom: 1px solid $blue;
        line-height: 1.6;
        a {
          color: $blue;  
        }
        
      }
      .views-field-created {
        padding: 15px 0;  
        border-top: 1px solid $light-grey;
      }
    }
  }
}
